layout: false
---
<%- partial('_partial/head') %>

<body>
<div class="body-inner">

<%- partial('_partial/header') %>
  <div class="page-info">
      <h1>论文</h1>
      <p id="page-info-intro">这里会不定期的更新数据可视化领域<b>学术</b>及<b>业界</b>相关文章及研究成果</p>
  </div>
  <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a target="_blank" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5126" target="_blank">Visualizing the Hidden Activity of Artificial Neural Networks</a></h2>
                  <div class="index-post-desc">
                <p>在机器学习中，模式分类任务主要是根据样子学习得到模型把高维向量进行分类。人工神经网络在模式分类任务获得了最先进的结果，然而神经网络对我们来说还是一个黑盒。深度神经网络可以看作是对原始的图片数据进行了高层次的抽象，将图片转换成另一种高维向量，一种高层次的数据表达。而这个数据表达的每一个维度正是由神经元构成的。本文使用降维方法探索了数据表达以及神经元之间的关系，从而帮助我们了解和改进人工神经网络。</p>
          </div>
              </div>
              <div class="row-right">
                  <a target="_blank" class="index-post-image1" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5126">
                  </a>
              </div>
          </div>
      </div>
  </div>

    <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a target="_blank" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5143">booc.io:一种层次数据的非线性浏览顺序的概念图可视化方法</a></h2>
                  <div class="index-post-desc">
                <p>网络教学的方法越来越流行，教育通过网络的传播可以更好地利用优秀的教学资源，使得更多的人得到高水平的教育。一方面学生通过网络课程学习到某一门知识时，往往需要提供学习计划，学习材料和课后的讨论论坛。另一方面，教师希望通过网站能够自由的上传不同类型的学习资料（书本，论文，视频，图片等），并希望能够有效直观的为学生提供学习的指导和学习计划，帮助学生提高知识水平</p>
          </div>
              </div>
              <div class="row-right">
                  <a target="_blank" class="index-post-image2" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5143">
                  </a>
              </div>
          </div>
      </div>
  </div>

    <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a target="_blank" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5233">A Visual Analytics Approach for Understanding Egocentric...</a></h2>
                  <div class="index-post-desc">
                <p>大型多人在线角色扮演游戏吸引着众多玩家在沉浸式的虚拟游戏环境中和其他玩家进行社交互动。一款优秀的大型多人在线角色扮演游戏应当满足不同玩家不同层次上的需求。因此，研究玩家的社交互动网络和动态的亲密度变化，有助于我们了解玩家在游戏中需求导向的行为，从而提升游戏设计和营销策略。本文提出的MMOSeer是一个用于分析玩家自我中心亲密度网络变化和影响传播的可视分析系统。</p>
          </div>
              </div>
              <div class="row-right">
                  <a target="_blank" class="index-post-image3" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5233">
                  </a>
              </div>
          </div>
      </div>
  </div>

    <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a target="_blank" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5687">EventThread: Visual Summarization and Stage Analysis of Event Sequence Data</a></h2>
                  <div class="index-post-desc">
                <p>本文提出了一种对事件序列数据进行可视化概括和阶段分析的技术，并实现了一种全面而集成展示和分析数据的新型可视化系统。事件序列数据是的是在一段时间内发生的一系列事件，分析事件序列集合可以得出语义上重要的顺序模式。目前已经有许多分析和可视化技术来研究这种数据形式，但仍存在一些问题：</p>
          </div>
              </div>
              <div class="row-right">
                  <a target="_blank" class="index-post-image4" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5687">
                  </a>
              </div>
          </div>
      </div>
  </div>

      <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a target="_blank" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5745">E-Map: A Visual Analytics Approach for Exploring Significant Event Evolutions in Social Media</a></h2>
                  <div class="index-post-desc">
                <p>社交媒体在信息与重要事件的传播与扩散中起了重要作用。当一个重要事件在社交媒体中出现时，会引发一系列的关注者转发、评论该问题，并产生新的意见。一个重要事件往往有上百万人牵涉其中。因此，社交媒体能很好的反应事件的演变过程、激发人们参与事件讨论的原因。关于某个重要事件，人们关注的问题包括：人们在社交媒体上讨论什么？</p>
          </div>
              </div>
              <div class="row-right">
                  <a target="_blank" class="index-post-image5" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5745">
                  </a>
              </div>
          </div>
      </div>
  </div>

      <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a target="_blank" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5921">解析可视化中的对比分析任务</a></h2>
                  <div class="index-post-desc">
                <p>“比较”或“对比”（comparison）是数据分析中最主要的任务之一，例如比较两张CT扫描结果，在不同车辆的行车轨迹中寻找差异，或是对比多次天气预报模型的预测结果等。当我们进行比较InfoVis 2017的这篇《Considerations  in Visualizing Comparison》主要从视觉设计和交互角度出发，总结可视化中出现的对比分析形式和手段，来指导可视化系统的设计者如何设计面向比较任务的视图和交互。</p>
          </div>
              </div>
              <div class="row-right">
                  <a target="_blank" class="index-post-image6" href="http://www.cad.zju.edu.cn/home/vagblog/?p=5921">
                  </a>
              </div>
          </div>
      </div>
  </div>

      <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a target="_blank" href="http://jackieanxis.coding.me/2017/09/03/机器学习的方法来帮助进行大图可视化/">机器学习的方法来帮助进行大图可视化</a></h2>
                  <div class="index-post-desc">
                <p>为了为图数据挑选一个合适的布局，论文提出了一种机器学习方法，基于用graph kernel计算的图拓扑相似度。这种方法可以显示图结构在不同的布局方法下的外观，并且可以估计这些图在布局下的美学度量。文章的贡献点是提出了一个可以用来设计graph kernel的框架。</p>
          </div>
              </div>
              <div class="row-right">
                  <a target="_blank" class="index-post-image7" href="http://jackieanxis.coding.me/2017/09/03/机器学习的方法来帮助进行大图可视化/">
                  </a>
              </div>
          </div>
      </div>
  </div>

  <%- partial('_partial/footer') %>
  <%- partial('_partial/mobilenav') %>
</div>
  <script src="<%- url_for('js/jquery-1.10.2.js') %>"></script>
  <script src="<%- url_for('js/mobile_nav.js') %>"></script>


</body>