layout: false
---
<%- partial('_partial/head') %>

<body>
<div class="body-inner">

<%- partial('_partial/header') %>
  <div class="page-info">
      <h1>论文</h1>
      <p id="page-info-intro">这里会不定期的更新数据可视化领域<b>学术</b>及<b>业界</b>相关文章及研究成果</p>
  </div>
  <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html">Visualizing the Hidden Activity of Artificial Neural Networks</a></h2>
                  <div class="index-post-desc">
                <p>在机器学习中，模式分类任务主要是根据样子学习得到模型把高维向量进行分类。人工神经网络在模式分类任务获得了最先进的结果，然而神经网络对我们来说还是一个黑盒。深度神经网络可以看作是对原始的图片数据进行了高层次的抽象，将图片转换成另一种高维向量，一种高层次的数据表达。而这个数据表达的每一个维度正是由神经元构成的。本文使用降维方法探索了数据表达以及神经元之间的关系，从而帮助我们了解和改进人工神经网络。</p>
          </div>
              </div>
              <div class="row-right">
                  <a class="index-post-image" href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html" title="在 ECharts GL 中绘制三维地图">
                  </a>
              </div>
          </div>
      </div>
  </div>

    <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html">Visualizing the Hidden Activity of Artificial Neural Networks</a></h2>
                  <div class="index-post-desc">
                <p>在机器学习中，模式分类任务主要是根据样子学习得到模型把高维向量进行分类。人工神经网络在模式分类任务获得了最先进的结果，然而神经网络对我们来说还是一个黑盒。深度神经网络可以看作是对原始的图片数据进行了高层次的抽象，将图片转换成另一种高维向量，一种高层次的数据表达。而这个数据表达的每一个维度正是由神经元构成的。本文使用降维方法探索了数据表达以及神经元之间的关系，从而帮助我们了解和改进人工神经网络。</p>
          </div>
              </div>
              <div class="row-right">
                  <a class="index-post-image" href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html" title="在 ECharts GL 中绘制三维地图">
                  </a>
              </div>
          </div>
      </div>
  </div>

    <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html">Visualizing the Hidden Activity of Artificial Neural Networks</a></h2>
                  <div class="index-post-desc">
                <p>在机器学习中，模式分类任务主要是根据样子学习得到模型把高维向量进行分类。人工神经网络在模式分类任务获得了最先进的结果，然而神经网络对我们来说还是一个黑盒。深度神经网络可以看作是对原始的图片数据进行了高层次的抽象，将图片转换成另一种高维向量，一种高层次的数据表达。而这个数据表达的每一个维度正是由神经元构成的。本文使用降维方法探索了数据表达以及神经元之间的关系，从而帮助我们了解和改进人工神经网络。</p>
          </div>
              </div>
              <div class="row-right">
                  <a class="index-post-image" href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html" title="在 ECharts GL 中绘制三维地图">
                  </a>
              </div>
          </div>
      </div>
  </div>

    <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html">Visualizing the Hidden Activity of Artificial Neural Networks</a></h2>
                  <div class="index-post-desc">
                <p>在机器学习中，模式分类任务主要是根据样子学习得到模型把高维向量进行分类。人工神经网络在模式分类任务获得了最先进的结果，然而神经网络对我们来说还是一个黑盒。深度神经网络可以看作是对原始的图片数据进行了高层次的抽象，将图片转换成另一种高维向量，一种高层次的数据表达。而这个数据表达的每一个维度正是由神经元构成的。本文使用降维方法探索了数据表达以及神经元之间的关系，从而帮助我们了解和改进人工神经网络。</p>
          </div>
              </div>
              <div class="row-right">
                  <a class="index-post-image" href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html" title="在 ECharts GL 中绘制三维地图">
                  </a>
              </div>
          </div>
      </div>
  </div>

      <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html">Visualizing the Hidden Activity of Artificial Neural Networks</a></h2>
                  <div class="index-post-desc">
                <p>在机器学习中，模式分类任务主要是根据样子学习得到模型把高维向量进行分类。人工神经网络在模式分类任务获得了最先进的结果，然而神经网络对我们来说还是一个黑盒。深度神经网络可以看作是对原始的图片数据进行了高层次的抽象，将图片转换成另一种高维向量，一种高层次的数据表达。而这个数据表达的每一个维度正是由神经元构成的。本文使用降维方法探索了数据表达以及神经元之间的关系，从而帮助我们了解和改进人工神经网络。</p>
          </div>
              </div>
              <div class="row-right">
                  <a class="index-post-image" href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html" title="在 ECharts GL 中绘制三维地图">
                  </a>
              </div>
          </div>
      </div>
  </div>

      <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html">Visualizing the Hidden Activity of Artificial Neural Networks</a></h2>
                  <div class="index-post-desc">
                <p>在机器学习中，模式分类任务主要是根据样子学习得到模型把高维向量进行分类。人工神经网络在模式分类任务获得了最先进的结果，然而神经网络对我们来说还是一个黑盒。深度神经网络可以看作是对原始的图片数据进行了高层次的抽象，将图片转换成另一种高维向量，一种高层次的数据表达。而这个数据表达的每一个维度正是由神经元构成的。本文使用降维方法探索了数据表达以及神经元之间的关系，从而帮助我们了解和改进人工神经网络。</p>
          </div>
              </div>
              <div class="row-right">
                  <a class="index-post-image" href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html" title="在 ECharts GL 中绘制三维地图">
                  </a>
              </div>
          </div>
      </div>
  </div>

      <div class="page-container">
      <div class="page-post">
          <div class="row">
              <div class="row-left">
                  <h2><a href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html">Visualizing the Hidden Activity of Artificial Neural Networks</a></h2>
                  <div class="index-post-desc">
                <p>在机器学习中，模式分类任务主要是根据样子学习得到模型把高维向量进行分类。人工神经网络在模式分类任务获得了最先进的结果，然而神经网络对我们来说还是一个黑盒。深度神经网络可以看作是对原始的图片数据进行了高层次的抽象，将图片转换成另一种高维向量，一种高层次的数据表达。而这个数据表达的每一个维度正是由神经元构成的。本文使用降维方法探索了数据表达以及神经元之间的关系，从而帮助我们了解和改进人工神经网络。</p>
          </div>
              </div>
              <div class="row-right">
                  <a class="index-post-image" href="http://echarts.baidu.com/blog/2017/06/14/building-realistic-map-with-echarts-gl.html" title="在 ECharts GL 中绘制三维地图">
                  </a>
              </div>
          </div>
      </div>
  </div>

  <%- partial('_partial/footer') %>
  <%- partial('_partial/mobilenav') %>
</div>
  <script src="<%- url_for('js/jquery-1.10.2.js') %>"></script>
  <script src="<%- url_for('js/mobile_nav.js') %>"></script>


</body>