<h3 class="recommend-h3 recommend-first-h3">图表用法</h3>
<ul>
    <!-- <li>
        <a href="<%- url_for('tutorial/setup/') %>">概述</a>
    </li> -->
    <li>
        <dl class="item-box">
           <dt class="title title-on">折线图</dt>
           <div class="dd-box" style="overflow:hidden;display:none">
               <dd><a href="<%- url_for('chartusage/line/') %>">基础折线图</a></dd>
               <dd><a href="<%- url_for('chartusage/area/') %>">面积图</a></dd>
               <dd><a href="<%- url_for('chartusage/stackedarea/') %>">堆叠面积图</a></dd>
           </div>
        </dl>
    </li>
    <li>
        <dl class="item-box">
           <dt class="title title-on">柱状图</dt>
           <div class="dd-box" style="overflow:hidden;display:none">
           <dd><a href="<%- url_for('chartusage/bar/') %>">基础柱状图</a></dd>
           <dd><a href="<%- url_for('chartusage/bi-directional-bar/') %>">双向柱状图</a></dd>
           <dd><a href="<%- url_for('chartusage/stacked-bar/') %>">堆叠柱状图</a></dd>
           <dd><a href="<%- url_for('chartusage/grouped-bar/') %>">分组柱状图</a></dd>
           </div>
        </dl>
    </li>
    <li>
        <dl class="item-box">
           <dt class="title title-on">饼图</dt>
           <div class="dd-box" style="overflow:hidden;display:none">
           <dd><a href="<%- url_for('chartusage/pie/') %>">基础饼图</a></dd>
           <!-- <dd><a href="<%- url_for('chartusage/pie/') %>">环形图</a></dd> -->
           <!-- <dd><a href="<%- url_for('chartusage/pie/') %>">南丁格尔玫瑰图</a></dd> -->
           </div>
        </dl>
    </li>
    <li>
        <a href="<%- url_for('chartusage/scatter/') %>">散点图</a>
    </li>
    <li>
        <a href="<%- url_for('chartusage/bubble/') %>">气泡图</a>
    </li>
    <li>
        <a href="<%- url_for('chartusage/radar/') %>">雷达图</a>
    </li>
    <li>
        <a href="<%- url_for('chartusage/funnel/') %>">漏斗图</a>
    </li>
    <li>
        <a href="<%- url_for('chartusage/gauge/') %>">仪表盘</a>
    </li>
    <li>
        <!-- <a href="<%- url_for('chartusage/pie/') %>">关系图</a> -->
    </li>
</ul>


<h3 class="recommend-h3">图表的构成</h3>
    <ul>
        <!-- <li>
        <a href="<%- url_for('chartcomponent/title/') %>">标题</a>
        </li> -->
        <li>
            <a href="<%- url_for('chartcomponent/coordinate/') %>">坐标轴</a>
        </li>
        <!-- <li>
            <a href="<%- url_for('chartcomponent/datacolumn/') %>">数据列</a>
        </li> -->
        <li>
            <a href="<%- url_for('chartcomponent/legend/') %>">图例</a>
        </li>
        <li>
            <a href="<%- url_for('chartcomponent/tooltip/') %>">数据提示</a>
        </li>
        <!-- <li>
            <a href="<%- url_for('chartcomponent/guide/') %>">辅助线</a>
        </li> -->
    </ul>

<h3 class="recommend-h3">图表配色指南</h3>
    <ul>
        <li>
        <a href="<%- url_for('chartcolor/overview/') %>">概述</a>
        </li>
        <li>
            <a href="<%- url_for('chartcolor/basis/') %>">可视化色彩理论基础</a>
        </li>
        <!-- <li>
            <a href="<%- url_for('chartcolor/rule/') %>">色彩映射基本规则</a>
        </li> -->
        <li>
            <a href="<%- url_for('chartcolor/color/') %>">图表配色</a>
        </li>
        <!-- <li>
            <a href="<%- url_for('chartcolor/element/') %>">背景和辅助元素</a>
        </li> -->
        <!-- <li>
            <a href="<%- url_for('chartusage/advice/') %>">友好建议</a>
        </li> -->

    </ul>

<script src="<%- url_for('js/.js') %>"></script>
